<h3>Merchant Invoices show</h3>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Date Created: <%= @invoice.date_format %></p>
<p id="total-revenue">Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100) %></p>
<p id="discounted-total-revenue">Total Discounted Revenue: <%= number_to_currency(@invoice.discounted_revenue / 100) %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<section id="item-status">
  <p>Items on the Invoice: <% @merchant.merchant_items(@merchant.id).each do |item|%></p>
  <p>Name: <%= item.name %></p>
  <p>Quantity Sold: <%= item.quantity %></p>
  <p>Price Sold: <%= number_to_currency(item.price_total) %>
  <p>
    <% item.invoice_items.each_with_index do |invoice_item, index| %>
      <section id="discount-<%= invoice_item.id %>">
      <% if invoice_item.discount_applied != nil %>
        Discount Applied: <%= index + 1 %>. <%= link_to "#{invoice_item.discount_applied.id}", merchant_discount_path(@merchant, invoice_item.discount_applied) %>
      <% end %>
      </section>
    <% end %>
  </p>
  <p>Status Form:  <%= form_with(url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true) do |form| %>
                <% if item.status == "disabled" %>
                  <%= form.select :status, ["Enabled", "Disabled"], selected: "Disabled"%>
                <% elsif item.status == "enabled"%>
                  <%= form.select :status, ["Enabled", "Disabled"], selected: "Enabled"%>
                <% end %>
              <%= form.hidden_field :item_id, value: item.id%>
              <%= form.submit "Update Item Status"%>
              <% end %>
</section>
  <p>Status: <% if item.shipping_status == 2 %>
                Shipped</P>
              <% elsif item.shipping_status == 1%>
                Packaged</p>
                <% else %>
                Pending</p>
             <% end %>
  <br>
<%end%>