<section id="update-discount-form">
  <%= form_with url: merchant_discount_path(@merchant, @discount), method: :patch, data: { turbo: false }, local: true do |form| %>
    <%= form.label :percentage_discount %>
    <%= form.text_field :percentage_discount, value: @discount.percentage_discount %>

    <%= form.label :quantity_threshold %>
    <%= form.text_field :quantity_threshold, value: @discount.quantity_threshold %>

    <%= form.submit "Update Discount" %>
  <% end %>
</section>
